<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.SharedSource.Mvc.CastleWindsor.Pipelines.Loader.InitializeWindsorControllerFactory, Sitecore.SharedSource.Mvc.CastleWindsor" patch:instead="*[type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>